* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include themed() {
        background-color: t($bd-bg);
        color: t($tx);
    }
    font-family:
        scandia-web,
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        Segoe UI Symbol,
        "Noto Color Emoji";
    font-optical-sizing: auto;
    font-style: normal;
}

mark {
    @include themed() {
        color: t($sd);
    }
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    @include themed() {
        background-color: t($pr);
    }
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    @include themed() {
        background-color: t($bg);
    }
}

#section_main {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    min-height: 100vh;
    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        @include themed() {
            background-image: radial-gradient(circle, t($dt) 1px, transparent 1px);
        }
        background-size: 20px 20px;
        z-index: -1;
    }
}

i{
    display: flex;
    align-items: center;
    justify-content: center;
}