.footer {
    @extend %section_container;
    padding-top: 8rem;
    padding-bottom: 4rem;
    display: flex;
    height: fit-content;
    align-items: start;
    flex-direction: column;
    gap: 2rem;

    .logo {
        padding: 0;
    }
    nav {
        margin-top: 2rem;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        span {
            font-weight: 600;
            font-size: clamp(0.5rem, 5vw, 0.9rem);
        }
        ul {
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            li {
                padding: 0;
                width: fit-content;
                list-style: none;
                background-color: transparent;
                button {
                    background-color: transparent;
                    border: none;

                    @include themed() {
                        color: t($tx-m);
                    }
                    font-size: clamp(0.5rem, 5vw, 0.9rem);
                    cursor: pointer;
                    &:hover {
                        @include themed() {
                            color: t($sd);
                        }

                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    .icon_wrapper {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
        align-items: start;
        margin-top: 2rem;
        span {
            font-size: clamp(0.5rem, 5vw, 0.9rem);
            font-weight: 600;
        }
        .social_media_icon_wrapper {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            padding: 0;
            span {
                display: none;
            }
            a {
                text-decoration: none;
                height: fit-content !important;
                width: fit-content !important;
            }
            .social_icon_wrapper {
                height: fit-content !important;
                width: fit-content !important;
                background-color: transparent !important;
                padding: 0;
                background-color: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                &:hover {
                    position: relative;
                    z-index: 1;
                    transition: transform 0.3s ease-in-out;
                    transform-origin: center center;
                    transform: scale(1.2);
                }
                i {
                    @include themed() {
                        color: t($tx-m);
                    }

                    font-size: clamp(0.9rem, 5vw, 1.4rem);
                }
            }

            .icon_facebook {
                &:hover {
                    i {
                        color: $icon-facebook;
                    }
                }
            }
            .icon_insta {
                &:hover {
                    background: $icon-insta;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .icon_linkin {
                &:hover {
                    i {
                        color: $icon-linkin;
                    }
                }
            }
            .icon_github {
                &:hover {
                    i {
                        @include themed() {
                            color: t($tx);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-lg) {
    .footer {
        padding-top: 10rem;
        padding-bottom: 5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        nav {
            flex-direction: column;
            align-items: center;

            ul {
                flex-direction: row;
                gap: 2rem;
            }
        }

        .icon_wrapper {
            align-items: center;

            .social_media_icon_wrapper {
                flex-direction: row;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}
