.logo {
    @include themed() {
        color: t($tx);
    }
    font-weight: 800;
    font-size: clamp(0.9rem, 5vw, 1.3rem);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
