/* light */
$bd-bg-light: rgb(241, 242, 243);
$bg-light: hsl(210, 8%, 95%);
$foreground-light: rgba(241, 242, 243, 0.836);
$primary-light: hsl(210, 10%, 92%);
$primary-foreground-light: rgba(233, 235, 237, 0.781);
$secondary-light: hsl(218, 58%, 54%);
$secondary-foreground-light: hsla(218, 58%, 54%, 0.856);
$text-light: hsl(230, 21%, 11%);
$text-muted-light: hsl(230, 21%, 11%);
$border-light: rgba(23, 25, 35, 0.829);
$dots-light: rgb(187, 206, 223);

/* dark */
$bd-bg-dark: rgb(22, 24, 34);
$bg-dark: hsl(230, 21%, 11%);
$foreground-dark: rgba(23, 25, 35, 0.829);
$primary-dark: hsl(225, 21%, 15%);
$primary-foreground-dark: rgba(37, 42, 55, 0.856);
$secondary-dark: hsl(218, 58%, 54%);
$secondary-foreground-dark: rgba(70, 120, 206, 0.856);
$text-dark: hsl(240, 11%, 93%);
$text-muted-dark: hsla(240, 2%, 81%, 0.767);
$border-dark: rgba(23, 25, 35, 0.829);
$dots-dark:rgb(27, 34, 76);

//social media icons
$icon-insta: linear-gradient(45deg, #f58529, #dd2a7b, #515bd4);
$icon-facebook: #1877f2;
$icon-linkin: #0a66c2;
$icon-github: #181717;

// Screens
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

$fancy-font: "Holtwood One SC", serif;

%section_container {
    width: 100%;
    background-color: transparent;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    overflow-x: hidden;
}

@media (min-width: $screen-sm) {
    %section_container {
        padding: 0 clamp(2rem, 5vw, 25rem);
    }
}

@media (min-width: $screen-lg) {
    %section_container {
        padding: 0 clamp(2rem, 10vw, 25rem);
    }
}

@media (min-width: $screen-2xl) {
    %section_container {
        padding: 0 clamp(2rem, 12vw, 25rem);
    }
}
