@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 19%, 5%;
    --primary: 213, 24%, 16%;
    --secondary: 210, 2%, 78%;
    --muted: 177, 40%, 45%;
    --accent: 176, 96%, 69%;
    --border: 210, 17%, 98%;
  }

  .sections {
    @apply w-full m-auto  md:w-[90%] lg:max-w-[80%];
  }
  i {
    pointer-events: none;
  }
}
