@import "../../../styles/settings";
@import "../../../styles/color_theme";
@import "../../../styles/base";
@import "../../../styles/btns";
.contact {
    @extend %section_container;
    margin-top: 20rem;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        span {
            font-weight: 800;
            font-size: clamp(2rem, 5vw, 3rem);
        }
        p {
            font-size: clamp(0.8rem, 5vw, 1rem);
            opacity: 0.7;
            text-align: center;
        }
        .social_media_icon_wrapper {
            margin-top: 5rem;
            display: flex;
            align-items: center;
            span {
                width: 1.5rem;
                height: 2px;
                margin: 0 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                @include themed() {
                    background-color: t($pr);
                }
                &:hover {
                    transition: all 1ms ease-in-out;
                    @include themed() {
                        background-color: t($sd);
                    }
                }
            }
            a {
                text-decoration: none;
                height: fit-content !important;
                width: fit-content !important;
            }
            .social_icon_wrapper {
                height: fit-content !important;
                width: fit-content !important;
                background-color: transparent !important;
                padding: 0;
                background-color: none;
                margin: 0;
                &:hover {
                    position: relative;
                    z-index: 1;
                    transition: transform 0.3s ease-in-out;
                    transform-origin: center center;
                    transform: scale(1.2);
                    i {
                        @include themed() {
                            color: t($sd);
                        }
                    }
                }
                i {
                    @include themed() {
                        color: t($tx);
                    }

                    font-size: clamp(1rem, 5vw, 1.7rem);
                }
            }

            .icon_facebook {
                &:hover {
                    &::before {
                        $blur: 25px;
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 130%;
                        height: 130%;
                        background-color: $icon-facebook;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        filter: blur($blur);
                        -webkit-backdrop-filter: blur($blur);
                    }

                    i {
                        color: $icon-facebook;
                    }
                }
            }
            .icon_insta {
                &:hover {
                    &::before {
                        $blur: 25px;
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 130%;
                        height: 130%;
                        background: $icon-insta;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        filter: blur($blur);
                        -webkit-backdrop-filter: blur($blur);
                    }

                    background: $icon-insta;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .icon_linkin {
                &:hover {
                    &::before {
                        $blur: 25px;
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 130%;
                        height: 130%;
                        background-color: $icon-linkin;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        filter: blur($blur);
                        -webkit-backdrop-filter: blur($blur);
                    }
                    i {
                        color: $icon-linkin;
                    }
                }
            }
            .icon_github {
                &:hover {
                    &::before {
                        $blur: 25px;
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 130%;
                        height: 130%;
                        @include themed() {
                            background-color: t($tx-m);
                        }
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        filter: blur($blur);
                        -webkit-backdrop-filter: blur($blur);
                    }
                    i {
                        @include themed() {
                            color: t($tx);
                        }
                    }
                }
            }
        }
        .contact_bntns_wrapper {
            margin-top: 5rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            .toemail_a_as_btn,
            .towhatsapp_btn {
                a {
                    text-decoration: none;
                }
                @extend %btn_lg;
                display: flex !important;
                align-items: center !important;
                gap: 0.8rem !important;
                padding: 0 1.5rem !important;
                i {
                    font-size: 1.2rem;
                    pointer-events: none;
                }
                p {
                    margin: 0;
                    font-size: 1.2em;
                    pointer-events: none;
                }
                &:nth-child(1) {
                    @extend %btn_outline;
                    &:hover {
                        @include themed() {
                            border-color: t($sd);
                            color: t($sd);
                        }
                    }
                }
                &:nth-child(2) {
                    @extend %btn_secondary;
                    &:hover {
                        @include themed() {
                            border-color: t($pr);
                            color: t($sd);
                        }
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-sm) {
    .contact {
        .wrapper {
            width: 90%;
        }
    }
}

@media (min-width: $screen-md) {
    .contact {
        height: 100vh;
        .wrapper {
            width: 80%;
            p {
                width: 90%;
            }
        }
    }
}

@media (min-width: $screen-lg) {
    .contact {
        .wrapper {
            max-width: 60rem;
            p {
                width: 80%;
            }
        }
    }
}
